body{
    background-color: #1e413b;
}

table{
     margin-top: 10px;
     margin-left: 100px;
     font-family: Arial, Helvetica, sans-serif;
 }
td
 {
    vertical-align: top;
}

.bo{
    background-color: #58FAF4;
    height: 85px;
    width: 200px;
}

.lo{
    vertical-align: bottom;
    margin-left: 10px;
	padding: 10px;
}

h1{
    color: #3CCC6E;
    font-size: large;
 }
 
h2{
    color: #000000;
    font-size: small;
    text-align: left;
    margin-left: 10px;
}

p{
    line-height: 0.1;
    font-size: small;
    text-align: left;
    margin-left: 10px;
 }
 
.wt{
    color: #FFFFFF;
    line-height: 0.3;
}

.et{
    color: #3CCC6E;
 }
 
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 300px;
	high: 100%;
    overflow: auto;
    /*background-color: rgba(0,0,0,0.1);*/
}

/*.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}*/

.modal-content{
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}